body{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Montserrat";
}

.images-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image{
   width: calc(50%-5px); 
   margin-bottom: 10px;
   display: none;
}
.image img{
    width: 100%;
}

.load-more{
    display: block;
    margin: auto;
    height: 50px;
    padding: 0 50px;
    border: radius 6px; 
    background-color: #2980b9;
    color: #f1f1f1;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s linear;
}

.load-more:hover{
    opacity: 0.8;
}